<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style_your_expanses.css">

    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="public/img/logo2.svg">
            <ul>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>

                <div class="profile">
                    <i class="fas fa-user-edit"></i> Profile
                </div>
            </header>

            <section class="projects">

                
            </section>
        </main>
    </div>
</body>